fastapi[standard]==0.116.1
SQLAlchemy==2.0.41
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
mysql-connector-python~=9.0.0
python-dotenv==0.19.2
dotenv~=0.9.9
uvicorn~=0.35.0
pydantic~=2.11.7
ultralytics~=8.2.2
opencv-python~=4.10.0.82